.my-component {
  position: relative;
  min-height: 350px !important;
  overflow: hidden;
}

.my-component img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}